# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env
.env.*
.venv/
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo / React Native
.expo/
.expo-shared/

# Build outputs
dist/
build/

# IDEs
.vscode/
.idea/

# PDF and generated docs
*.pdf
*.html

# Local env
.local.env

